In [2]:
!pip install pandas

Collecting pandas
  Using cached https://files.pythonhosted.org/packages/02/d0/1e8e60e61e748338e3a40e42f5dfeee63ccdecfc4f0894122b890bfb009a/pandas-0.25.3-cp37-cp37m-win_amd64.whl
Requirement already satisfied: numpy>=1.13.3 in c:\users\tony\desktop\github\xgboost-with-raymond\venv\lib\site-packages (from pandas) (1.17.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\tony\desktop\github\xgboost-with-raymond\venv\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\tony\desktop\github\xgboost-with-raymond\venv\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\tony\desktop\github\xgboost-with-raymond\venv\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.12.0)
Installing collected packages: pandas
Successfully installed pandas-0.25.3

In [3]:
# Import pandas library 
import pandas as pd 
  
# initialize list of lists 
data = [['tom', 10], ['nick', 15], ['juli', 14]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Name', 'Age']) 
  
# print dataframe. 
df

   Name  Age
0   tom   10
1  nick   15
2  juli   14

In [4]:
df['Name']

0     tom
1    nick
2    juli
Name: Name, dtype: object

In [10]:
columns_to_select = ['Name']
# columns_to_select = ['Name', 'Age']
df[columns_to_select]

   Name
0   tom
1  nick
2  juli

In [14]:
df['Name'][0]

'tom'

### Two ways to select rows: `[0,2]` and `[True, False, True]`

In [20]:
# rows_to_select = [0]
rows_to_select = [0,2]
df.loc[rows_to_select]['Name']

0     tom
2    juli
Name: Name, dtype: object

In [25]:
rows_to_select = [True, False, True]
result = df[['Name', 'Age']][rows_to_select]
result

   Name  Age
0   tom   10
2  juli   14

In [26]:
type(result), type(df)

(pandas.core.frame.DataFrame, pandas.core.frame.DataFrame)

In [31]:
df.loc[df['Age'] < 12]

  Name  Age
0  tom   10

In [32]:
df[df['Age'] < 12]

  Name  Age
0  tom   10